body {
    text-align: center;
    background-color: rgb(160, 160, 160);
    margin: 0px;
}
.image-size {
    max-width: 300px;
    max-height: 300px;
}
p {
    font-family: monospace;
    font-size: 20px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}