@media only screen and (max-device-width: 480px) {

    body {
    text-align: center;
    background-color: rgb(160, 160, 160);
    margin: 0px;
    }

    .item {
        align-self: auto | flex-start | flex-end | center | baseline | stretch;
    }

    .image-size {
        max-width: 300px;
        max-height: 300px;
    }
    p {
        font-family: monospace;
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
}


@media only screen and (max-device-width: 790px) {

    body {
    text-align: center;
    background-color: rgb(160, 160, 160);
    margin: 0px;
    }

    .item {
        align-self: auto | flex-start | flex-end | center | baseline | stretch;
    }

    .image-size {
        max-width: 300px;
        max-height: 300px;
    }
    p {
        font-family: monospace;
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
}


